<br><h3> INGRESAR NUEVO LIBRO</h3><br>
<form action="/libro/nuevo-libro" method="post">
    <label for="isbn">ISBN</label>
    <input id="isbn" type="text" name="isbn">
    <br><br>
    <label for="titulo">Título</label>
    <input id="titulo" type="text" name="titulo">
    <br><br>
    <label for="anio">Año Publicación</label>
    <input id="anio" type="text" name="anio">
    <br><br>
    <label for="idioma">Idioma</label>
    <input id="idioma" type="text" name="idioma">
    <br><br>
    <label for="pais">País Publicación</label>
    <input id="pais" type="text" name="pais">
    <br><br>
    <label for="idautor">Id Autor</label>
    <input id="idautor" type="text" name="idautor">
    <br><br>
    <button type="submit">Crear</button>
    <button type="reset">Limpiar</button>
</form>
<a href="/libro/libros">
    <button>Cancelar</button>
</a>